@import "tailwindcss";

#root{
  font-family: sans-serif;
}

@keyframes gradient-bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-bg {
  animation: gradient-bg 8s ease infinite;
}